ul#states
  li
    a(href='/data/AK')
      |  Alaska 
  li
    a(href='/data/AZ')
      |  Arizona
  li
    a(href='/data/AR')
      |  Arkansas
  li
    a(href='/data/CA')
      |  California
  li
    a(href='/data/CO')
      |  Colorado
  li
    a(href='/data/CT')
      |  Connecticut
  li
    a(href='/data/DE')
      |  Delaware
  li
    a(href='/data/DC')
      |  District Of Columbia
  li
    a(href='/data/FL')
      |  Florida
  li
    a(href='/data/GA')
      |  Georgia
  li
    a(href='/data/HI')
      |  Hawaii
  li
    a(href='/data/ID')
      |  Idaho
  li
    a(href='/data/IL')
      |  Illinois
  li
    a(href='/data/IN')
      |  Indiana
  li
    a(href='/data/IA')
      |  Iowa
  li
    a(href='/data/KS')
      |  Kansas
  li
    a(href='/data/KY')
      |  Kentucky
  li
    a(href='/data/LA')
      |  Louisiana
  li
    a(href='/data/ME')
      |  Maine
  li
    a(href='/data/MD')
      |  Maryland
  li
    a(href='/data/MA')
      |  Massachusetts
  li
    a(href='/data/MI')
      |  Michigan
  li
    a(href='/data/MN')
      |  Minnesota
  li
    a(href='/data/MS')
      |  Mississippi
  li
    a(href='/data/MO')
      |  Missouri
  li
    a(href='/data/MT')
      |  Montana
  li
    a(href='/data/NE')
      |  Nebraska
  li
    a(href='/data/NV')
      |  Nevada
  li
    a(href='/data/NH')
      |  New Hampshire
  li
    a(href='/data/NJ')
      |  New Jersey
  li
    a(href='/data/NM')
      |  New Mexico
  li
    a(href='/data/NY')
      |  New York
  li
    a(href='/data/NC')
      |  North Carolina
  li
    a(href='/data/ND')
      |  North Dakota
  li
    a(href='/data/OH')
      |  Ohio
  li
    a(href='/data/OK')
      |  Oklahoma
  li
    a(href='/data/OR')
      |  Oregon
  li
    a(href='/data/PA')
      |  Pennsylvania
  li
    a(href='/data/RI')
      |  Rhode Island
  li
    a(href='/data/SC')
      |  South Carolina
  li
    a(href='/data/SD')
      |  South Dakota
  li
    a(href='/data/TN')
      |  Tennessee
  li
    a(href='/data/TX')
      |  Texas
  li
    a(href='/data/UT')
      |  Utah
  li
    a(href='/data/VT')
      |  Vermont
  li
    a(href='/data/VA')
      |  Virginia
  li
    a(href='/data/WA')
      |  Washington
  li
    a(href='/data/WV')
      |  West Virginia
  li
    a(href='/data/WI')
      |  Wisconsin
  li
    a(href='/data/WY')
      |  Wyoming
    